p {
    border: 0.3mm solid blue;
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

main {
    position: static;
    display: inline-flex;
    border: 0.5mm solid blue;
    padding: 12px;
    margin: 50px;
}

footer {
    position: static;
    display: inline-flex;
    border: 0.5mm solid blue;
    padding: 12px;
    margin: 50px;
    background-color: red;
}

.secondBox p {
    background-color: purple;
    border: 0.3mm solid purple;
}