html{
    font-family :"Bitter";
    font-size: 20px;
    color: #9c7303;
}

input {
    display: block;
    margin: 5px;
    border: 1px solid #9c7303;
    border-radius: 4px;
    padding: 12px 20px;
    color: teal;
    
}

lable {
    vertical-align: top;
}

input[type="radio"]{
    vertical-align: baseline;
}

button {
    font-family :"Bitter";
    text-transform: uppercase;
    font-size: 20px;
    color: #9c7303;

    margin: 5px;

    border: none;
}
fieldset {
    border: 1px solid #9c7303;
    padding: 12px 20px;
}

legend {
    padding: 10px;
}

form {
    width: 600px;
    margin: 0 auto;
  }

