
button {
    margin: 20px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


label {
    font-weight: bold;
}

.style {
    font-family: 'Bitter';
    font-size: 20px;
    color: #413209;
}

#counterTitle {
    font-size: 28px;
}

#counter {
    font-size: 26;
}