.container1 {
    display: flex;
    flex-direction: row;
}

.container2 {
    display: inline-flex;
    flex-direction: row-reverse;
}

.container3 {
    display: flex;
    flex-direction: column-reverse;
}

.container4 {
    width: 300px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    
}

.container5 {
    width: 300px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.green {
    background: #51d400;
}

.yellow {
    background: #ffd62a;
}

.purple {
    background: #b02afe;
}

.item {
    width: 150px;
    height: 150px;
}

html {
    font-family: "Karla";
    font-size: 12px;
}